.body {
  font-family: Garnett, Helvetica, "Segoe UI", Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  min-width: 100%;
}
.sub-title {
  width: 60%;
  letter-spacing: -6px;
  font-size: 2.7rem;
  text-align: start;
  font-weight: bold;
  background: linear-gradient(90deg, #e3e3e338, #ffffff, #ffffff0f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content {
  color: #9a9a9a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  height: 100vh;
  margin-left: 5%;
  letter-spacing: 1px;
}
.description {
  margin-top: 50px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  width: 30%;
  color: #ffffff7b;
  text-transform: lowercase;
}
.join {
  color: #d1cece;
  letter-spacing: 1px;
  margin-top: 80px;
  font-size: 1.2rem;
  font-weight: 100;
}
.title {
  margin-bottom: 5%;
  color: #9a9a9a;
}
button {
  color: white;
  width: 150px;
  height: 50px;
  border-style: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4c2492;
  margin-top: 45px;
  width: 10%;
}
button:hover {
  background: #8741ff;
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
#sideback {
  position: absolute;
  right: 10%;
  top: 10%;
  width: 500px;
}
.sidedesign {
  width: 40%;
  height: 100vh;
  position: absolute;
  right: 0;
  background: white;
  top: 0;
  clip-path: polygon(41% 0, 100% 0, 100% 100%, 0% 100%);
  background-color:hsla(302,100%,72%,1);
background-image:
radial-gradient(at 50% 82%, hsla(240,100%,69%,1) 0px, transparent 50%),
radial-gradient(at 18% 76%, hsla(294,100%,63%,1) 0px, transparent 50%),
radial-gradient(at 79% 55%, hsla(204,100%,48%,1) 0px, transparent 50%),
radial-gradient(at 18% 25%, hsla(227,100%,59%,1) 0px, transparent 50%);
}
